body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 221, 221);
}
nav{
    background-color: rgb(78, 78, 78);
    padding: 10px;
    padding-left: 50px;
}
nav a {
   color: #ebe6e6; 
   margin-left: 50px;
   text-decoration: none;
}
div{
  text-align: center;
  padding-top: 100px;
}
h1{
    color: rgb(71, 70, 69);
}